@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
	margin: 0;
	padding: 0;
	color: #999;
	font: 14px/1.2 "Open Sans", sans-serif;
	overflow: hidden;    
	background-color: #222;
}

.content {
	padding-left: 220px;
	background: no-repeat center center fixed;
	background-size: cover;
}
	#lattice {
		padding: 0;
		margin: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0,0,0, .1);
		-webkit-transition: all 100ms ease-out;
				transition: all 100ms ease-out;
	}

.control{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 220px;
}
	#config-mobile {
		display: none;
	}
	.config {
		height: 100vh;	
		overflow: hidden;
		background: rgba(0, 0, 0, .65);
	}

	.control section {
		margin: 0;
		padding: 1.5em;
	}

	h2, a {
		color: #999;
		font-size: 1em;
		text-decoration: none;
		text-transform: uppercase;
		margin: 0 0 .5em 0;
		-webkit-transition: all 500ms;
				transition: all 500ms;
	}

	a:hover, a:active {
		color: #fff;
		text-decoration: none;
		-webkit-transition: all 500ms;
				transition: all 500ms;
	}

	h2.ex-link {
		margin: 0 0 1em 0;
	}
	h2.ex-link:last-of-type {
		margin: 0;
	}

	p {
		margin: 0;
		font-size: .8em;
	}

	ul.control-list {
		list-style: none;
		margin: 0;
		padding-left: 1.5em;
	}
		ul.control-list > li:not(:last-child) {
			margin: .5em 0;
		}

	output {
		color: #fff;
	}

/*-- Radio Input Style --*/
	input[type=radio]{
		display: none;
	}

	input[type=radio] + label {
		display: block;
	}

	input[type=radio]:not(:checked) + label,
	input[type=radio]:not(:checked) + label ul {
		cursor: pointer;
		color: #fff;
		opacity: .35;
	}

	input[type=radio]:not(:checked) + label:hover {
		opacity: .9;
	}
	input[type=radio]:checked + label {
		color: #fff;
		opacity: 1;
	}

	input[input=radio] + label,
	input[type=radio] + label:hover,
	input[type=radio] + label ul {	
		-webkit-transition: all 500ms;
				transition: all 500ms;
	}

/*-- Slider Range Input Style --*/
	input[type=range]{
	    -webkit-appearance: none;
	    margin: 5px 0 0 0;
	    width: 100%;
	   	height: 12px;
	   	background: transparent;
	}

	input[type=range]::-webkit-slider-runnable-track {
	    background: rgba(0, 0, 0, .5);
	    border: 1px solid #636363;
	}

	input[type=range]::-webkit-slider-thumb {
	    -webkit-appearance: none;
	    border: none;
	    height: 10px;
	    width: 16px;
	    background: #636363;
	}

	input[type=range]:focus {
	    outline: none;
	}

	input[type=range]:focus::-webkit-slider-runnable-track {
	    border-color: #fff;
	}
	input[type=range]:focus::-webkit-slider-thumb {
		background-color: #fff;
	}

	input[type=range],
	input[type=range]::-webkit-slider-runnable-track,
	input[type=range]::-webkit-slider-thumb,
	input[type=range]:focus::-webkit-slider-runnable-track,
	input[type=range]:focus::-webkit-slider-thumb{
		-webkit-transition: all 500ms;
				transition: all 500ms;
	}



/*-- Swatch Display Style --*/
	ul.swatches {
		list-style: none;
		padding: 0;
		margin: 3px 0 10px 0;
		width: 100%;
		display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	  	display: -ms-flexbox;      /* TWEENER - IE 10 */
	  	display: -webkit-flex;     /* NEW - Chrome */
	  	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}
		ul.swatches li {
			height: 3px;
			margin: 0;
			-webkit-flex-grow: 1;
			   -moz-flex-grow: 1;
			   	  -ms-flexbox: 1;
					flex-grow: 1;
		}

/*---- Animations ----*/
@-webkit-keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

/*-- Media Queries --*/
@media screen
  and (max-width: 736px)
  /*and (max-device-width: 736px)*/ 
  /*and (-webkit-min-device-pixel-ratio: 2)*/ { 
  	body {
  		font-size: 18px;
  	}
	#config-mobile {
		display: block;
	}
	.control {
		width: 100%;
		height: 100%;
	}
		.control section {
			margin: 0;
			padding: .5em 1em;
		}
	.config {
		overflow: auto;
		padding-right: 3em;
	}
		.config h2, #disclaimer {
			display: none;
		}
	
	ul.control-list {
		list-style: none;
		margin: 0;
		padding-left: 1em;
	}
		ul.control-list > li:not(:last-child) {
			margin: 1.5em 0;
		}

	.content {
		width: 100%;
		height: 100vh;
		padding-left: 0;
	}

	input[type=range]{
	   	height: 3em;
	}

	input[type=range]::-webkit-slider-runnable-track {
		border-radius: 1.4em;
	}

	input[type=range]::-webkit-slider-thumb {
	    height: 2.7em;
	    width: 2.7em;
	    border-radius: 1.35em;
	}

	#config-mobile button {
		position: absolute;
		z-index: 999;
		bottom: 1.2em;
		right: 1.2em;
		border-radius: 50%;
		font-size: 1.2em;
		padding: .5em;
		border: none;
		box-shadow: 0 4px 5px rgba(0, 0, 0, .5);
	}
	#config-mobile button:hover {
		cursor: pointer;
	}

	.submit-btn {
		background: rgb(35,132,67);
		color: #fff;
	}
		.submit-btn:hover {
			color: #fff;
			background:rgb(65,171,93);
		}

	.config-btn {
		background: #222;
		color: #999;
	}
		.config-btn:hover {
			color: #fff;
			background:#000;
		}

	.hidden {  /* Hidden class is only accessble inside the media query */
		display: none;
	}

}


